
    <div class="wrapper">
      <div class="Sidebar_wrapper">
          <aside class="Sidebar" layout="column">
              <nav role="navigation" class="Sidebar__nav">
                  <ul class="Sidebar__nav-list">
                      <li class="Sidebar__nav-list__item Sidebar-menu ion-ios-drag" ng-click="vm.showOrganisations()"></li>
                      <li class="Sidebar__nav-list__item ion-ios-home"  ng-click="vm.showOrganisations()"></li>
                      <li class="Sidebar__nav-list__item ion-ios-calendar" ng-click ="vm.showEvents()"></li>
                      <li class="Sidebar__nav-list__item Sidebar__nav-list__item ion-clipboard" ng-click="vm.showProjects()"></li>
                      <li ><a href="https://docs.google.com/forms/d/e/1FAIpQLScHnzw5-AyIJeaiE2mmn-EduwoEE9Qh0gXdp5NEOvnfaP04cg/viewform?embedded=true" class="Sidebar__nav-list__item Sidebar__nav-list__item ion-ios-compose-outline"></a></li>
                    </ul>
                  </nav>
              </aside>
              <div layout="column" class="Sidebar_data">

               <!-- Heading Container -->
                <div class="Sidebar_heading" layout="row">
                 <!-- <img src="img/icons/home.png"/>-->
                 <md-button class="md-fab" aria-label="Eat cake"  ui-sref=".create">+</md-button>
                  <h3>{{vm.selectedEcosystem.name}}</h3>

                </div>
               <!-- Heading Container -->

                <div  ui-view="side"></div>
                </div>

          </div>
          <section class="Details__body-Content">
            <ecosystem-map markers = vm.markers></ecosystem-map>
          </section>
    </div>
