.Sidebar_wrapper {
    display: flex;
    height: 100vh;
    min-width: 350px;
}

.Sidebar_heading {
  background-color: #2C7AB9;
  padding: 5px 0px 10px 5px;
  min-height: 60px;
  max-height:60px;
}

.Sidebar_heading img {
  min-width: 20px;
  height: 30px;
  padding-left: 10px;
}

.Sidebar_heading h3 {
  color: white;
  margin-left: 5px;
  margin-top: 5px;
  padding: 10px;
  width:65%;
}

.Sidebar-menu {
  margin-bottom: 10px;
}

.Sidebar_data {
  display: inherit;
  height: inherit;
  min-width: inherit;
}

.Sidebar {
  align-items: flex-start;
  background-color: #2c7ab9;
/*  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px; */
  border-right: 1px solid rgba(250, 250, 250, 0.43);
  /*box-shadow: -5px 0px 60px 0 rgba(0, 0, 0, 0.6), inset 0 0 40px rgba(0, 0, 0, 0.1);*/
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  margin-top: 30px;
  display: flex;
  margin: 0;
}
.Sidebar__nav {
  top: 0;
}
.descriptionlabel{
 color: rgb(3,169,244);
 font-size: 14px;
}

.Sidebar__nav-list {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Sidebar__nav-list__item {
  color: rgba(255, 255, 255, 0.86);
  cursor: pointer;
  font-size: 1.75rem;
  padding: 10px 15px;
  text-align: center;
}
.Sidebar__nav-list__item:hover {
  color: white;
}
.Sidebar__nav-list__item--active {
  color: white;
}

.mycontainer {
  min-height: 600px;
}

.md-button.md-fab
{
 /*position:fixed;*/
 top:0;
 //left: 15px;
 margin:0;
 font-size:x-large;
 color:#ffffff ;

}
