
    <div class="wrapper">
      <div class="Sidebar_wrapper">
          <aside class="Sidebar">
              <nav role="navigation" class="Sidebar__nav">
                  <ul class="Sidebar__nav-list">
                      <li class="Sidebar__nav-list__item ion-ios-home" ng-click="vm.showOrganisations()"></li>
                      <li class="Sidebar__nav-list__item ion-ios-calendar" ng-click ="vm.showEvents()"></li>
                      <li class="Sidebar__nav-list__item Sidebar__nav-list__item--active ion-clipboard" ng-click="vm.showProjects()"></li>
                    </ul>
                  </nav>
              </aside>
              <div layout="column">
                <div><h3>{{vm.selectedEcosystem.name}}</h3></div>
                  <div ui-view="side"></div>
              </div>



          </div>
          <section class="Details__body-Content">
            <ecosystem-map markers = vm.markers></ecosystem-map>
          </section>
    </div>
