language: php
php:
- 5.6
- 7.0
- 7.1
sudo: false

services:
  - mysql

branches:
  only:
  - master
  - develop

before_script:
  - mysql -e 'create database ecosystem;'

install: travis_retry composer install --no-interaction --prefer-dist

script: vendor/bin/phpunit --verbose
