.Card-title {
    /*color: white;*/
    color: #303031;
    font-size: 18px;
    line-height: 32px;
    font-weight: 400;
}
p.event-details-decription{
 margin-left:20px;
}
.event-details-title{
 color:#303031;
 font-weight:600;
 font-size:15px;
}
