<!-- <md-content class="Page-container">
<h2> {{vm.scopeData.name}} </h2>
<p class="details">{{vm.scopeData.description}}</p>
<md-button ng-click="vm.back()">back modified</md-button>
</md-content> -->

<section class="Details">
  <div class="Details__body">
    <section class="Details__body-side_bar Event-section" >

      <h2 class="Events-title">{{vm.scopeData.name}}</h2>
          <md-card class= " Event-card">
             <md-card-content>

               <div>
              <!--    <h1 class="Card-title">Sector: <span ng-repeat="sector in vm.scopeData.sectors.data">{{sector.name}}</span> </h1>
                  <h1 class="Card-title">Target Group: <span>{{vm.scopeData.target_group}}</span></h1>
                  <h1 class="Card-title">Partners: </h1>

                 -->
                  <p class="event-details-title"><b>Event Description: </b></p>
                  <p class="event-details-decription">{{vm.scopeData.description}}</p>
                   <p><span class="event-details-title">Venue: </span>{{vm.scopeData.venue}}</p>
                   <p><span class="title"><b class="event-details-title">Event Type:</b>  {{vm.scopeData.free_or_paid}}</span></p>
               </div>
             </md-card-content>
         </md-card>
    </section>
</div>
</section>
