<section class="Details">
    <div class="Details__body">
        <section class="Details__body-side_bar Event-section">

            <h3 class="Events-title">Events</h3>
            <div ng-repeat="event in vm.events | orderBy : 'start_date.date'">
                <md-card class="card" >
                    <div class="image">
                        <!-- <img src="http://i.imgur.com/td7pKHw.jpg"> -->
                        <span class="title">
                          <md-icon class="location_event_icon" md-svg-src="{{'img/icons/location.svg'}}" aria-label="location"></md-icon>
                           {{event.venue}}
                        </span>
                        <span class="free_or_paid">{{event.free_or_paid}}</span>
                    </div>
                    <div class="content">
                        <div class="Date_time_actions" layout="row">
                            <div class="" flex="30">
                                <span class="Event_date">{{vm.filterDate(event.start_date.date, event.end_date.date).event_date}}</span>
                            </div>
                            <md-divider class="event_divider"></md-divider>
                            <div class="" flex="50">
                                <span class="Event_date">{{vm.filterDate(event.start_date.date, event.end_date.date).event_time}}</span>
                            </div>
                            <md-divider class="event_divider"></md-divider>
                            <div class="Social_actions" flex="20">
                                <md-icon md-svg-src="{{'img/icons/share.svg'}}" aria-label="share"></md-icon>
                                <md-icon md-svg-src="{{'img/icons/favourite.svg'}}" aria-label="favourite"></md-icon>
                            </div>
                        </div>
                        <h4 class="title">{{event.name}}</h4>
                        <!-- <p ng-click="vm.viewEvent(event)">{{event.description}}</p>-->
                        <p>{{event.description}}</p>
                    </div>
                    <md-card>
            </div>
        </section>
    </div>
</section>
