<section class="Details">
  <div class="Details__body">
    <section class="Details__body-side_bar mycolor" style="  background-color: #4c514d" >
      <h1>Events</h2>
      <md-card>
         <md-card-content layout="row">
           <div flex>
              <img src="card-image.png" class="md-card-image" alt="image caption">
           </div>
           <div flex>
              <h2 style="font-size: 14px">Card headline</h2>
              <p>more details</p>
           </div>

         </md-card-content>
         <md-card-actions layout="row" layout-align="end center">
           <p class="ion-ios-home">location</p>
           <p class="ion-ios-home">Event Time</p>
            <p class="ion-ios-home">Free</p>
         </md-card-actions>
        </md-card>
    </section>
  </div>
</section>
