<md-input-container>
  <label>Project's Name</label>
  <input type="text" ng-model="vm.makeProject.project.name" md-maxlength="30" maxlength="30">
</md-input-container>

<!-- <md-input-container>
  <label>Organisation Website</label>
  <input type="text" ng-model="color">
</md-input-container> -->

<md-input-container>
  <label>Project Description</label>
  <input type="text" ng-model="vm.makeProject.project.description" md-maxlength="250" maxlength="250">
</md-input-container>



<md-input-container>
  <!-- <md-select ng-model="vm.makeProject.organisationId" placeholder="Select an Organisation">
    <md-option ng-value="opt.id" ng-repeat="opt in vm.allOrganisations">{{ opt.name }}</md-option>
  </md-select> -->
  <md-autocomplete flex required
            md-input-name="autocompleteField"
            md-input-minlength="2"
            md-input-maxlength="18"
            md-no-cache="vm.noCache"
            md-selected-item="vm.selectedItem"
            md-search-text="vm.searchText"
            md-items="item in vm.querySearch(vm.searchText)"
            md-item-text="item.display"
            md-require-match
            md-floating-label="Select an Organization">
          <md-item-template>
            <span md-highlight-text="vm.searchText">{{item.display}}</span>
          </md-item-template>
          <div ng-messages="autocompleteField.$error" ng-if="autocompleteField.$touched">
            <div ng-message="required">You <b>must</b> have a favorite state.</div>
            <div ng-message="md-require-match">Please select an existing state.</div>
            <div ng-message="minlength">Your entry is not long enough.</div>
            <div ng-message="maxlength">Your entry is too long.</div>
          </div>
        </md-autocomplete>
</md-input-container>

<md-datepicker ng-model="vm.makeProject.project.start_date" md-placeholder="Start Date"></md-datepicker>
<md-datepicker ng-model="vm.makeProject.project.end_date" md-placeholder="End Data"></md-datepicker>
<md-button ng-click="vm.addProject()" class="md_button_submit">submit</md-button>
