<md-input-container>
  <label>Project's Name</label>
  <input type="text" ng-model="vm.makeProject.project.name">
</md-input-container>

<!-- <md-input-container>
  <label>Organisation Website</label>
  <input type="text" ng-model="color">
</md-input-container> -->

<md-input-container>
  <label>Project Description</label>
  <input type="text" ng-model="vm.makeProject.project.description">
</md-input-container>



<md-input-container>
  <md-select ng-model="vm.makeProject.organisationId" placeholder="Select an Organisation">
    <md-option ng-value="opt.id" ng-repeat="opt in vm.allOrganisations">{{ opt.name }}</md-option>
  </md-select>
</md-input-container>

<md-datepicker ng-model="vm.makeProject.project.start_date" md-placeholder="Start Date"></md-datepicker>
<md-datepicker ng-model="vm.makeProject.project.end_date" md-placeholder="End Data"></md-datepicker>
<md-button ng-click="vm.addProject()">submit</md-button>


