<div layout="row" class="organization_form_container">
    <!-- row for form -->
    <div >
        <div layout="column">

            <md-input-container>
                <label>Organisation Name</label>
                <input type="text" ng-model="vm.or.name" required>
                <div ng-messages="colorForm.favoriteColor.$error">
                  <div ng-message="required">Organisation's name is required!</div>
                </div>
            </md-input-container>
            <md-input-container>
                <label>Organisation Adress</label>
                <input type="text" ng-model="vm.or.address" required>
                <div ng-messages="colorForm.favoriteColor.$error">
                  <div ng-message="required">Organisation's address is required!</div>
                </div>
            </md-input-container>

            <label class="descriptionlabel">Click on the Map, to obtain Organisation's Location</label>
            <div layout="row">
                <md-input-container>
                    <label>latitude</label>
                    <input type="text" ng-model="vm.org.lat" required disabled>
                </md-input-container>
                <md-input-container >
                    <label>longitude</label>
                    <input type="text" ng-model="vm.org.long" required disabled>
                </md-input-container>
            </div>

            <md-input-container>
                <label>Organisation Website</label>
                <input type="text" ng-model="vm.or.website" >
            </md-input-container>

            <md-input-container>
                <label>Organisation Description</label>
                <textarea type="text" rows="3" ng-model="vm.or.description" required></textarea>
                <div ng-messages="colorForm.favoriteColor.$error">
                  <div ng-message="required">Organisation's description is required!</div>
                </div>
            </md-input-container>

            <md-input-container>
                <label>Organisation Tin Number</label>
                <input type="text" ng-model="vm.or.tin_number">
            </md-input-container>

            <md-input-container>
                <label>Target Group</label>
                <input type="text" ng-model="vm.or.target_group">
            </md-input-container>

            <md-datepicker ng-model="vm.or.date_founded" md-placeholder="Date Founded"></md-datepicker>
            <md-datepicker ng-model="vm.or.organisation.date_registered" md-placeholder="Data Registered"></md-datepicker>

            <md-input-container>
             <label>Select a role</label>
             <md-radio-group ng-model="vm.or.role_id" placeholder="Select a role">
               <md-radio-button ng-repeat="opt in vm.allRoles" ng-value="opt.id" aria-label="{{ opt.name }}" required>
                      {{ opt.name }}
               </md-radio-button>
             </md-radio-group>

            </md-input-container>

            <md-input-container>
             <label>Select a sector(s)</label>
             <md-radio-group ng-model="vm.or.sector_id" placeholder="Select a sector">
               <md-radio-button ng-repeat="opt in vm.allSectors" ng-value="opt.id" aria-label="{{ opt.name }}" required>
                      {{ opt.name }}
               </md-radio-button>
             </md-radio-group>

            </md-input-container>

         <md-button ng-click="vm.addOrganisation()" >submit</md-button>
        </div>
    </div>
</div>
