.location {
  padding-bottom: 100px;
  background-color: red;
  width: 50%;
}
.Input_required:after{
 content:" *";
 color:red;
}

md-radio-button{
 color: rgba(0,0,0,0.26);
 margin:8px 0px;
}
md-input-container{
 margin:18px 5px 18px 5px;
}

.Input_header_label{
 font-size: 18px;
}
