<div layout="row">
    <!-- row for form -->
    <div >
        <div layout="column">

            <md-input-container>
                <label>Organisation Name</label>
                <input type="text" ng-model="vm.forOrganisation.organisation.name">
            </md-input-container>
            <md-input-container>
                <label>Organisation Description</label>
                <input type="text" ng-model="vm.forOrganisation.organisation.description">
            </md-input-container>

            <md-input-container>
                <label>Organisation Tin Number</label>
                <input type="text" ng-model="vm.forOrganisation.organisation.tin_number">
            </md-input-container>

            <md-input-container>
                <md-select ng-model="vm.forOrganisation.ecosystemId" placeholder="Select an Ecosystem">
                    <md-option ng-value="opt.id" ng-repeat="opt in vm.allEcosystems">{{ opt.name }}</md-option>
                </md-select>
            </md-input-container>

            <md-input-container>
                <md-select ng-model="vm.forOrganisation.sectorId" placeholder="Select a Sector">
                    <md-option ng-value="opt.id" ng-repeat="opt in vm.allSectors">{{ opt.name }}</md-option>
                </md-select>
            </md-input-container>
            <md-input-container>
                <md-select ng-model="vm.forOrganisation.roleId" placeholder="Select a Role">
                    <md-option ng-value="opt.id" ng-repeat="opt in vm.allRoles">{{ opt.name }}</md-option>
                </md-select>
            </md-input-container>

            <md-datepicker ng-model="vm.forOrganisation.organisation.date_founded" md-placeholder="Date Founded"></md-datepicker>
            <md-datepicker ng-model="vm.forOrganisation.organisation.date_registered" md-placeholder="Data Registered"></md-datepicker>
            <md-button ng-click="vm.addOrganisation()">submit</md-button>
        </div>
    </div>

    <!-- row for Map -->
    <!--<div flex="70">-->

        <!--<get-location></get-location>-->
    <!--</div>-->
</div>
