<div layout="column" class="full-map">
  <leaflet lf-center="vm.darEsSalaam" defaults="vm.defaults" markers="vm.markers" width="100%" height="100vh"></leaflet>
  <md-fab-speed-dial ng-hide="false" md-direction="down" md-open="false" class="md-scale md-fab-top-left-map" ng-class="{ 'md-hover-full': false }" ng-mouseenter="vm.fab.isOpen=true" ng-mouseleave="vm.fab.isOpen=false">
      <md-fab-trigger>
        <md-button aria-label="menu" class="md-fab md-warn">
          <md-icon md-svg-src="img/icons/add.svg" aria-label="menu"></md-icon>
        </md-button>
      </md-fab-trigger>

      <md-fab-actions>
        <md-list-item ng-repeat="item in vm.fab.items" class="choice-list">
          <span ng-click="vm.openCreatePage($event, item)">
            <md-button aria-label="{{item.name}}" class="md-fab md-raised md-mini md-primary">
              <md-icon md-svg-src="{{item.icon}}" aria-label="{{item.name}}"></md-icon>
            </md-button>
            <span class="bug"> {{ item.name }} </span>
          </span>
        </md-list-item>
      </md-fab-actions>
    </md-fab-speed-dial>
</div>
