
<section class="Details Detail-height">
  <div class="Details__body">
    <section class="Details__body-side_bar Event-section" >

      <h2 class="Events-title">{{vm.menuOrganisation.name}}</h2>
      <h4 class="Events-title"><a>{{vm.menuOrganisation.website}}</a></h4>
          <md-card class= " Event-card">

             <md-card-actions layout="column">

               <div>
                  <h1 class="Card-title">Sector: <span ng-repeat="sector in vm.menuOrganisation.sectors.data">{{sector.name}}</span></h1>
                  <h1 class="Card-title">Target Group: <span>{{vm.menuOrganisation.target_group}}</span></h1>
               </div>

               <div layout="row">
                 <div layout="row">
                     <i class="Card-icon ion-ios-location"></i><p><span ng-repeat="location in vm.menuOrganisation.locations.data">{{location.address}}</span></p>
                 </div>
                 <div layout="row">
                   <i class=" Card-icon ion-ios-clock"></i><p>{{vm.menuOrganisation.date_founded.date}}</p>
                 </div>
               </div>
             </md-card-actions>
             <md-card-content>
                <p class="Organisation-description">{{vm.menuOrganisation.description}}</p>
             </md-card-content>

            </md-card>

    </section>
</div>
</section>
