
<section class="Details Detail-height">
  <div class="Details__body">
    <section class="Details__body-side_bar Event-section" >

      <h2 class="Events-title">{{vm.menuOrganisation.name}}</h2>
      <h4 class="Events-title"><a href="http://{{vm.menuOrganisation.website}}" target="_blank">{{vm.menuOrganisation.website}}</a></h4>
          <md-card class= " Event-card">
             <md-card-content class="organization">
                <p class="Organisation-description">{{vm.menuOrganisation.description}}</p>
             </md-card-content>
             <div>
                <h1 class="Card-title organization"><span class="card-sector-title"> Sector:</span> <span ng-repeat="sector in vm.menuOrganisation.sectors.data" class="Card-sector-description">{{sector.name}}</span></h1>
                <h1 class="Card-title organization"><span class="card-sector-title">Target Group:</span> <span class="Card-sector-description">{{vm.menuOrganisation.target_group}}</span></h1>
             </div>
             <md-card-actions layout="column">
               <div layout="row">
                 <div layout="row">
                     <i class="Card-icon ion-ios-location carrat-organization-info"></i><p class="organization_info"><span ng-repeat="location in vm.menuOrganisation.locations.data">{{location.address}}</span></p>
                 </div>
                 <div layout="row">
                   <i class=" Card-icon ion-android-locate carrat-organization-info"></i><p class="organization_info">{{vm.menuOrganisation.date_founded.date}}</p>
                 </div>
               </div>
             </md-card-actions>
        </md-card>
    </section>
</div>
</section>
