<md-input-container>
  <label>Event's Name</label>
  <input type="text" ng-model="vm.makeEvent.event.name" md-maxlength="40" maxlength="40" required>
</md-input-container>

<!-- <md-input-container>
  <label>Organisation Website</label>
  <input type="text" ng-model="color">
</md-input-container> -->

<md-input-container>
  <label>Event Description</label>
  <textarea type="text" rows="3" ng-model="vm.makeEvent.event.description" md-maxlength="250" maxlength="250" required></textarea>
</md-input-container>

<md-input-container>
 <label class="Input_header_label md-container-ignore">Event Type</label>
<md-radio-group ng-model="vm.makeEvent.event.free_or_paid">
    <md-radio-button value="Free" class="md-primary">Free</md-radio-button>
    <md-radio-button value="Paid" class="md-primary"> Paid </md-radio-button>
</md-radio-group>
</md-input-container>

 <md-input-container>
  <md-select ng-model="vm.makeEvent.organisationId" placeholder="Select an Organisation">
    <md-option ng-value="opt.id" ng-repeat="opt in vm.allOrganisations" required>{{ opt.name }}</md-option>
  </md-select>
</md-input-container>

<!-- <md-datepicker ng-model="vm.makeEvent.event.start_date" md-placeholder="Start Date"></md-datepicker> -->
<md-input-container>
        <label class="Input_header_label md-container-ignore">Start Date</label>
        <input mdc-datetime-picker="" date="true" time="true" type="text" id="datetime"
               placeholder="Date"
               show-todays-date="true"
               min-date="vm.date"
               format='YYYY-MM-DD HH:mm:ss'
               ng-model="vm.makeEvent.event.start_date"
               class="md-input"
               required
               readonly="vm.readonly">
</md-input-container>
<md-input-container>
        <label class="Input_header_label md-container-ignore">End Date</label>
        <input mdc-datetime-picker="" date="true" time="true" type="text" id="datetime"
               placeholder="Date"
               show-todays-date="true"
               min-date="vm.date"
               format='YYYY-MM-DD HH:mm:ss'
               ng-model="vm.makeEvent.event.end_date"
               class="md-input"
               required
               readonly="vm.readonly">
</md-input-container>
<md-button ng-click="vm.addEvent()" class="md_button_submit">submit</md-button>
