<md-input-container>
  <label>Event's Name</label>
  <input type="text" ng-model="vm.makeEvent.event.name">
</md-input-container>

<!-- <md-input-container>
  <label>Organisation Website</label>
  <input type="text" ng-model="color">
</md-input-container> -->

<md-input-container>
  <label>Event Description</label>
  <input type="text" ng-model="vm.makeEvent.event.description">
</md-input-container>

<md-input-container>
  <md-select ng-model="someModel" placeholder="Nature of the Event">
    <md-option ng-value="opt" ng-repeat="opt in neighborhoods2">{{ opt }}</md-option>
  </md-select>
</md-input-container>

 <md-input-container>
  <md-select ng-model="vm.makeEvent.organisationId" placeholder="Select an Organisation">
    <md-option ng-value="opt.id" ng-repeat="opt in vm.allOrganisations">{{ opt.name }}</md-option>
  </md-select>
</md-input-container>

<md-datepicker ng-model="vm.makeEvent.event.start_date" md-placeholder="Start Date"></md-datepicker>
<md-datepicker ng-model="vm.makeEvent.event.end_date" md-placeholder=" End Date"></md-datepicker>
<md-button ng-click="vm.addEvent()">submit</md-button>


