div.header {
    text-align: left;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    color:#FFFFFF;
    background: cornflowerblue;
}
.Create_project_content
{
 display: flex;
 flex-direction: column;
 overflow-x: hidden;
}
