div.header {
    text-align: center;
    padding: 10px 0;
    font-size: 18px;
    font-weight: bold;
    background: cornflowerblue;
}
.Create_project_content
{
 display: flex;
 flex-direction: column;
 overflow-x: hidden;
}
