<section class="Details">
    <div class="Details__body">
        <section class="Details__body-side_bar">
            <ul class="Details__options-list">
                <li class="Details__options-list__item" ng-repeat="role in vm.roles track by $index">
                    <div class="Media">
                        <div class="Media__body Media u-flex-center--v">
                            <div>{{role.name}}</div>
                            <div class="Media__side Media__side--right">
                              <md-chip>(12)</md-chip>
                              <md-checkbox aria-label="checkbox" class="md-secondary" ng-change="vm.filterByRole(role.name)" ng-model="isChecked"></md-checkbox>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <md-divider class="divide-sector-role"></md-divider>
            <ul class="Details__options-list">
                <li class="Details__options-list__item" ng-repeat="sector in vm.sectors track by $index">
                    <div class="Media">
                        <div class="Media__body Media u-flex-center--v">
                            <div>{{sector.name}}</div>
                            <div class="Media__side Media__side--right">
                              <md-checkbox aria-label="checkbox" class="md-secondary" ng-change="vm.filterBySector(sector.name)" ng-model="isChecked"></md-checkbox>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </section>
    </div>
</section>
